<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>창고 재고 관리 시스템 - 재고 수정</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico"/>
    <link rel="stylesheet" href="/assets/css/backend-plugin.min.css">
    <link rel="stylesheet" href="/assets/css/backend.css?v=1.0.0">
    <link rel="stylesheet" href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="/assets/vendor/remixicon/fonts/remixicon.css">
</head>
<body class="  ">
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">

    <div class="iq-sidebar  sidebar-default ">
        <div class="iq-sidebar-logo d-flex align-items-center justify-content-between">
            <a href="#" class="header-logo">
                <img src="/assets/images/logo.png" class="img-fluid rounded-normal light-logo" alt="logo"><h5
                    class="logo-title light-logo ml-3">Lalilas</h5>
            </a>
            <div class="iq-menu-bt-sidebar ml-0">
                <i class="las la-bars wrapper-menu"></i>
            </div>
        </div>
        <div class="data-scrollbar" data-scroll="1">
            <nav class="iq-sidebar-menu">
                <ul id="iq-sidebar-toggle" class="iq-menu">
                    <li class=" ">
                        <a href="/product/list" class="collapsed">
                            <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                      d="M11 15h6v2h-6zM9 7H7v2h2zm2 6h6v-2h-6zm0-4h6V7h-6zm-2 2H7v2h2zm12-6v14c0 1.1-.9 2-2 2H5c-1.1 0-2-.9-2-2V5c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2m-2 0H5v14h14zM9 15H7v2h2z"/>
                            </svg>
                            <span class="ml-4">상품 조회</span>
                        </a>
                    </li>
                </ul>
                <ul id="" class="iq-menu">
                    <li class=" ">
                        <a href="/product/add" class="collapsed">
                            <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 32 32">
                                <defs>
                                    <path id="carbonNewTab0" fill="currentColor" d="M26 26H6V6h10V4H6a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h20a2 2 0 0 0 2-2V16h-2Z" />
                                </defs>
                                <use href="#carbonNewTab0" />
                                <use href="#carbonNewTab0" />
                                <path fill="currentColor" d="M26 6V2h-2v4h-4v2h4v4h2V8h4V6z" />
                            </svg>
                            <span class="ml-4">상품 추가</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="p-3"></div>
        </div>
    </div>
    <div class="iq-top-navbar">
        <div class="iq-navbar-custom">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <div class="iq-navbar-logo d-flex align-items-center justify-content-between">
                    <i class="ri-menu-line wrapper-menu"></i>
                    <a href="/product/list" class="header-logo">
                        <img src="/assets/images/logo.png" class="img-fluid rounded-normal" alt="logo">
                        <h5 class="logo-title ml-3">재고관리 시스템</h5>
                    </a>
                </div>
            </nav>
        </div>
    </div>

    <div class="content-page">
        <div class="container-fluid add-form-list">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">상품 추가</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <form id="inventory-form" method="post" enctype="multipart/form-data" data-toggle="validator">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="type">상품 타입</label>
                                            <select id="type" name="category" class="selectpicker form-control" data-style="py-0">
                                                <option>상의/셔츠</option>
                                                <option>원피스</option>
                                                <option>자켓</option>
                                                <option>코트</option>
                                                <option>하의</option>
                                                <option>악세사리/가방</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">상품명 *</label>
                                            <input id="name" type="text" class="form-control" placeholder="상품명 입력"
                                                   data-errors="상품명을 입력해주세요." name="name" required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>색상 *</label>
                                            <input type="text" class="form-control" placeholder="색상 입력"
                                                   data-errors="Please Enter Code." name="color" required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>원가 *</label>
                                            <input type="number" class="form-control" placeholder="원가 입력(위엔)"
                                                   data-errors="Please Enter Cost." name="costPrice" required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>도매가 *</label>
                                            <input type="number" class="form-control" placeholder="도매가 입력(원화)"
                                                   data-errors="Please Enter Price." name="wholesalePrice" required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>사이즈(S)</label>
                                            <input type="number" class="form-control" value="0" name="s">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>사이즈(M)</label>
                                            <input type="number" class="form-control" value="0" name="m">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>사이즈(L)</label>
                                            <input type="number" class="form-control" value="0" name="l">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>사이즈(XL)</label>
                                            <input type="number" class="form-control" value="0" name="xl">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>사이즈(2XL)</label>
                                            <input type="number" class="form-control" value="0" name="xxl">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>그 외 사이즈</label>
                                            <input type="number" class="form-control" value="0" name="etc">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>상품사진</label>
                                            <input type="file" class="form-control image-file" name="pic"
                                                   accept="image/*" required>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>상세 메모</label>
                                            <textarea class="form-control" name="memo" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary mr-2">상품 추가</button>
                                <button type="reset" class="btn btn-danger">초기화</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page end  -->
        </div>
    </div>
</div>
<script>


    document.getElementById('inventory-form').addEventListener('submit', async function(event) {
        event.preventDefault(); // 폼의 기본 제출 동작을 막음

        const form = document.getElementById('inventory-form');
        const formData = new FormData(form);

        // FormData를 JSON 형식으로 변환
        const jsonData = {};
        formData.forEach((value, key) => {
            jsonData[key] = value;
        });

        const imageInput = form.querySelector('input[type="file"]');
        const file = imageInput.files[0] || null;

        resizeImage(file, 500, 500, file => {
            jsonData.image = file;

            fetch('/product/add', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json; charset=UTF-8',
                },
                body: JSON.stringify(jsonData),
            })
                    .then(response => response.json())
                    .then(res => {
                        if (res.status === "conflict") {
                            alert("이미 존재하는 상품입니다.");
                            return;
                        }

                        alert("상품을 추가하였습니다.");
                        location.href = "/product/list";
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                        alert("상품 추가 중 에러 발생");
                        // 에러 처리
                    });
        })
    });

    function resizeImage(file, maxWidth, maxHeight, callback) {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function (event) {
            const img = new Image();
            img.src = event.target.result;
            img.onload = function () {
                const canvas = document.createElement('canvas');
                let width = img.width;
                let height = img.height;

                if (width > height) {
                    if (width > maxWidth) {
                        height *= maxWidth / width;
                        width = maxWidth;
                    }
                } else {
                    if (height > maxHeight) {
                        width *= maxHeight / height;
                        height = maxHeight;
                    }
                }

                canvas.width = width;
                canvas.height = height;
                const ctx = canvas.getContext('2d');
                ctx.drawImage(img, 0, 0, width, height);

                canvas.toBlob(async function (blob) {

                    callback(await blobToBase64(blob));
                }, 'image/jpeg', 0.7);
            }
        }
    }
    function blobToBase64(blob) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(blob);
            reader.onloadend = function () {
                resolve(reader.result); // "data:image/png;base64," 부분을 제거하고 Base64 데이터만 사용
            };
            reader.onerror = function (error) {
                reject(error);
            };
        });
    }
</script>
<!-- Backend Bundle JavaScript -->
<script src="/assets/js/backend-bundle.min.js"></script>

<!-- Table Treeview JavaScript -->
<script src="/assets/js/table-treeview.js"></script>

<!-- Chart Custom JavaScript -->
<script src="/assets/js/customizer.js"></script>

<!-- Chart Custom JavaScript -->
<script async src="/assets/js/chart-custom.js"></script>

<!-- app JavaScript -->
<script src="/assets/js/app.js"></script>
</body>
</html>